<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{meta_title}}</title>

	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="{{asset "css/dependencies.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
	<link type="text/css" href="assets/css/prism.css" />
	<script type="text/javascript" src="{{asset "js/dependencies.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/script.js"}}"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.css" integrity="sha384-9tPv11A+glH/on/wEu99NVwDPwkMQESOocs/ZGXPoIiLE8MU/qkqUcZ3zzL+6DuH" crossorigin="anonymous">  	
 	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.css" integrity="sha384-9tPv11A+glH/on/wEu99NVwDPwkMQESOocs/ZGXPoIiLE8MU/qkqUcZ3zzL+6DuH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.js" integrity="sha384-U8Vrjwb8fuHMt6ewaCy8uqeUXv4oitYACKdB0VziCerzt011iQ/0TqlSlv8MReCm" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/contrib/auto-render.min.js" integrity="sha384-aGfk5kvhIq5x1x5YdvCp4upKZYnA8ckafviDpmWEKp4afOZEqOli7gqSnh8I6enH" crossorigin="anonymous"></script>
    <script src="/contrib/auto-render.js" type="text/javascript"></script>
		{{ghost_head}}
</head>
<body class="{{body_class}}">
		<script>
    document.addEventListener("DOMContentLoaded", function() {
      renderMathInElement(document.body);
    });
  		</script>
	<section id="wrapper">
		<div id="ajax-container">
			<nav id="nav" class="nav">
				<div class="nav-logo">
					<a href="{{@blog.url}}">
						{{#if @blog.logo}}
						<img src="{{@blog.logo}}" alt="Logo" />
						{{else}}
						<span class="name">{{@blog.title}}</span>
						{{/if}}						
					</a>
				</div>
				<div class="nav-menu">
					{{#if @blog.navigation}}
					<a class="menu" data-action="menu" data-target="menu"><i class="icon-menu"></i></a>
					{{/if}}
				</div>
			</nav>			
			{{{body}}}
			<div id="body-class" style="display: none;" class="{{body_class}}"></div>
			<footer id="footer">
				<section class="credits">
					<span class="credits-theme">Theme <a href="https://github.com/zutrinken/bleak" target="_blank" rel="nofollow">Bleak</a> by <a href="http://zutrinken.com" target="_blank" rel="nofollow">zutrinken</a></span>
					<span class="credits-software">Published with <a href="http://ghost.org" target="_blank" rel="nofollow">Ghost</a></span>
				</section>
			</footer>
			{{#if @blog.navigation}}
			{{navigation}}
			{{/if}}
		</div>
	</section>
	{{ghost_foot}}
	<script>
      renderMathInElement(
          document.getElementById("test"),
          {
              delimiters: [
                  {left: "$$", right: "$$", display: true},
                  {left: "\[", right: "\]", display: true},
                  {left: "$", right: "$", display: false},
                  {left: "\(", right: "\)", display: false}
              ]
          }
      );
    </script>
</body>
</html>